.wrapper {
    color: #888;
    margin-top: 55px;

    .about {
        display: flex;
        flex-direction: column;
        gap: 55px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 55px;

        h1 {
            font-weight: 700;
            font-size: 2.25em;
            color: #fff;
            line-height: 1;
            letter-spacing: -1;
            position: relative;
            clip-path: inset(0px 100% 0px 0px);
            overflow: hidden;

            animation: banner-skip-text 2.5s ease-in-out forwards;

            & :nth-child(1) {
                height: 100%;
                width: 100%;
                position: absolute;
                backdrop-filter: blur(4px);
                animation: banner-skip 2.6s ease-in-out forwards;
            }

            & :nth-child(2) {
                height: 100%;
                width: 100%;
                position: absolute;
                transform: translateX(-5%);
                animation: banner-skip 2.6s ease-in-out forwards;
                backdrop-filter: brightness(250%);
            }
        }
    }

    p {
        line-height: 1.5;
    }

    span {
        color: #fff;
    }

    .img {
        position: relative;

        img {
            z-index: 20;
            position: relative;
        }

        &::after {
            content: "";
            z-index: 10;
            position: absolute;
            display: block;
            height: 50px;
            width: 50px;
            background-color: transparent;
            border-radius: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            animation: glowing 2s ease-in-out forwards;
        }
    }

    article {
        display: flex;
        gap: 42px;
        flex-direction: row;
        align-items: center;

        .text {
            display: flex;
            flex-direction: column;
            gap: 24px;
            max-width: 800px;
            align-items: center;
        }
    }

    @media (max-width: 1200px) {
        article {
            justify-content: center;
        }

        .img {
            display: none;
        }
        .text {
            max-width: 700px;
            text-align: center;
            gap: 16px;
        }
    }

    @media (max-width: 1024px) {
        margin-top: 28px;
    }

    @keyframes banner-skip {
        100% {
            transform: translateX(100%);
        }
    }
    @keyframes banner-skip-text {
        100% {
            clip-path: inset(0px 0px 0px round 0px);
        }
    }

    @keyframes bearing-fall {
        0% {
            opacity: 0;
        }
        50% {
            transform: translateY(5%);
        }
        75% {
            transform: translateY(-5%);
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    @keyframes glowing {
        0% {
            box-shadow: 0px 0px 100px 5px rgba(255, 255, 255, 1);
        }
        65% {
            box-shadow: 0px 0px 100px 50px rgba(255, 255, 255, 1);
        }
        100% {
            box-shadow: 0px 0px 100px 35px rgba(255, 255, 255, 1);
        }
    }
}
